<template>
    <div v-if="loaded" class="information">
        <h2>Username: <span>{{username}}</span></h2>
        <h2>Ruta: <span>{{ruta}}</span></h2>
        <h2>Asiento: <span>{{asiento}}</span></h2>
        <h2>Hora: <span>{{hora}}</span></h2>
    </div>    
</template>

<script>
import jwt_decode from "jwt-decode";
import axios from "axios";

export default {
    name:"Reserva",
        
    data: function(){
        return{
            name: "",
            email: "",
            username: "",
            ruta: 0,
            asiento: 0,
            hora: 0,
            loaded:false
        }
    },
    methods: {
        getData: async function() {

            if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
            this.$emit('logOut');
            return;
        }
        await this.verifyToken();
        let token = localStorage.getItem("token_access");
        let userId = jwt_decode(token).user_id.toString();

        axios.get(`https://transportegrupo4.herokuapp.com/user/${userId}/`, {headers: {'Authorization': `Bearer ${token}`}})
        
         .then((result) => {
            this.name = result.data.name;
            this.email = result.data.email;
            this.username = result.data.username;
            this.ruta = result.data.reserva.ruta;
            this.asiento = result.data.reserva.asiento;
            this.hora = result.data.reserva.hora;
            this.loaded = true;
             })
        .catch(() => {
            this.$emit('logOut');
        });
},
    verifyToken: function () {
        return axios.post("https://transportegrupo4.herokuapp.com/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})
        .then((result) => {
            localStorage.setItem("token_access", result.data.access);
        })
        .catch(() => {
            this.$emit('logOut');
        });
    }
},
        created: async function(){
        this.getData();          
    },
}

</script>

<style>
    .information{
        margin: 0;
        padding: 0%;
        width: 80%;
        height: 80%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
    .information h1{
        font-size: 60px;
        color: #0f1316;
        }
        
    .information h2{
        font-size: 40px;
        color: #283747;
        }            
        
    .information span{
        color: crimson;
        font-weight: bold;
}

</style>

